body{
    margin: 0;
    padding: 0;
}
/*Position des formulaire de connexion */
.form--position_center{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
/* Erreur saisie*/
label.error {
    color: rgb(255, 113, 113);
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px dashed rgb(255, 113, 113);
    font-weight: 300;
    color: rgb(255, 113, 113);
}
/* Message utilisateur */
.bienvenue{
    color: #fff;
}
/*Affichage image dans modal produit */
.imgP{
    max-width:300px;
}
/* Contenu facture */
.designation{
    width:30%;
	height:25px;
	float:left;
	font-size:16px;
	font-weight:normal;
	text-align:left;
	overflow:hidden;
}
.next{
    width:15%;
	height:25px;
	float:left;
	font-size:16px;
	font-weight:normal;
	text-align:left;
}
.price{
    width:15%;
	height:25px;
	float:left;
	font-size:16px;
	font-weight:normal;
	text-align:right;
}